.write__container{
    /* margin: 0 17rem; */
    margin: 0 5rem;
    margin-top:10rem;
    max-width: 100%;
    /* background: #000000a1; */
    padding: 1.5rem;
    padding-bottom: 0.85rem;
    border-radius: 16px;
    color: #05ffa1;
    min-height: 35rem;
  }
  
  @media (max-width: 550px) {
    .write__container {
      margin: 0 0rem;
      margin-top: 10rem;
    }
  } 

  @media (max-width: 445px) {
    .write__container {
      margin: 0 0;
      margin-top: 3rem;
    }
  } 
 