
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:100;
    font-size: 1rem;
    margin: 1rem 0;
  }
  .total p{
    color:#05ffa1;
  }
  .total h1{
    color:#05ffa1;
  }
  
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #05ffa1;
    border: none;
    border-radius: 24px;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    color: #ff0000;
  }

  .Head{
    color: #ffff00;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
  }

  .Headspan{
    color: #3fbce8;
    font-size: 1rem;
    font-weight: 300;
  }

  span, a {
    color: white;
  }