.input_field {
  display: flex;
  flex-direction: column;
}

.input_field label {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0.2rem;
  font-weight: bold;
}

.input_field input {
  outline: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  height: 1.5rem;
  padding: 0 0.4rem;
  color: white;
  margin-bottom: 0.5rem;
  background: none;
}

.input_field select {
  outline: none;
  border: 2px solid black;
  color: white;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 0.4rem;
  margin-bottom: 0.5rem;
  background: none;
  width: 48.5%;
  font-size: 1rem;
}

.input_field select option {
  background: black;
  border-radius: 16px;
  outline: none;
}

.input_field h1 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0.2rem;
  font-weight: bold;
}

.details {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color:#05ffa1;
  margin: 0.5rem 0.2rem;
}

.authtitle {
  display: flex;
  flex-direction: row;
}

.authtitle input {
  width: 70%;
  height: 2rem;
  font-size: 1rem;
  padding: 0.1rem 1rem;
}

.authtitle input::placeholder {
  color: #ffffff;
}

.authtitle input:first-child {
  margin-right: 2rem;
}

.btn {
  cursor: pointer; /* "hand" cursor */
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #05ffa1;
  border: 2px solid #05ffa1;
  border-radius: 4px;
  color: black;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.btn:hover {
  background-color: #282828;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(81, 186, 235, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  font-size: 2.2rem;
  color: #51e7e0;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 2.2rem;
}

.custom-file {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.custom-file label {
  width: 30%;
}

.custom-file img {
  width: 30%;
  margin: 2rem;
}

.custom-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.custom-file-input + label {
  cursor: pointer; /* "hand" cursor */
  /* margin-top:1rem; */
  /* margin-right: 1rem; */
  background-color: #05ffa1;
  border: 2px solid #05ffa1;
  border-radius: 4px;
  color: black;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
  background-color: #282828;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(81, 186, 235, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.custom-file-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.updown {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.img-con-up, .img-con-down {
  border: 2px solid black;
  padding: 3rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-img {
  width: 80%;
  margin-bottom: 2rem;
}

.down-img {
  width: 80%;
}

.form-up {
  margin: 0 2rem;
  width: 100%;
  margin: 0 auto;
  margin-left: 3rem;
  padding-left: 3rem;
}

.form-down {
  margin-top: 3rem;
}

#password {
  width: 70%;
  height: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.1rem 1rem;
}

#cpassword {
  width: 70%;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
}

.row {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .form-up {

    padding-left: 0rem;
  }
  .img-con-up, .img-con-down  {
    padding: 3rem 0rem;
    padding-bottom: 0rem;
    padding-right: 2rem;
  }
}

@media (max-width: 900px) {
  .authtitle input {
    width: 100%;
  }
  #password,
  #cpassword {
    width: 90%;
  }
  .authtitle input:first-child {
    margin-right: 2rem;
  }
  .updown {
    grid-template-columns: 1fr;
  }
  .form-up {
    margin-left: 0rem;
    margin-top:3rem;
  }
  .btn{
    margin-bottom: 3rem;
  }
}

@media (max-width: 840px) {
  .authtitle input:first-child {
    margin-right: 2rem;
  }
}

@media (max-width: 750px) {
  .authtitle input:first-child {
    margin-right: 2rem;
  }
  #password,
  #cpassword {
    width: 87%;
  }
}

@media (max-width: 693px) {
  .authtitle input:first-child {
    margin-right: 2rem;
  }
  #password,
  #cpassword {
    width: 83%;
  }
  .img-con-down{
    margin-top: 1rem;
  }
}

@media (max-width: 445px) {
  .authtitle input:first-child {
    margin-right: 0rem;
  }
  #password,
  #cpassword {
    width: 83%;
  }

  .authtitle input {
    width: 85%;
  }
  .img-con-up{
    margin-top: 5rem;
  }
}
