.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}


.loading {
  height: 0;
  width: 0;
  padding: 2rem;
  border: 10px solid #05ffa1;
  border-right-color: #888;
  border-radius: 50px;
  animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 30;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}