  /* .loader-11 {
    z-index: 100;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    -webkit-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
  }
  .loader-11:after, .loader-11:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-animation: rotationBack 0.5s linear infinite;
            animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader-11:before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    -webkit-animation: rotation 1.5s linear infinite;
            animation: rotation 1.5s linear infinite;
  } */

  .loading__author {
    font-weight: normal;
    font-size: 0.9rem;
    font-family: sans-serif;
    color: rgba(189,189,189,1);
    margin: 0.6rem 0 2rem 0;
    display: block;
  }
  .loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189,189,189 ,0.25);
    border-left-color: rgba(3,155,229 ,1);
    border-top-color: rgba(3,155,229 ,1);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
  }
  @keyframes rotate {
    to {
      transform: rotate(1turn)
    }
  }
