@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins&family=Ubuntu&family=Sacramento&family=Baloo+Bhaina+2:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
*::selection {
  background: #cac8ab73;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #222;
}
html::-webkit-scrollbar-thumb {
  background: #7856FF;
  border-radius: 20px;
}
body {
  background: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
